.slider-body {
    background: #f5f5f5;
    position: relative;
    display: flex;
    justify-content: center;
}
.imageSlider {
    display: flex;
    place-items: center;
}
.imageSlider img {
    height: 100vh;
    width: auto;
    object-fit: cover;
}
.control {
    position: absolute;
    display: flex;
    width: 98vw;
    padding: 1rem;
    justify-content: space-between;
    box-sizing: border-box;
    position:absolute;
    left: 0rem;
    bottom:43vh;
    
}
.button img {
    width: 4rem;
}
.button  :hover {
    cursor: pointer;
    opacity: 0.5;
}